cluster_name = "eks-demo"
name_prefix  = "tfeks"
aws_region   = "us-east-1"

vnet_cidr       = "10.240.0.0/16"
eks_subnet_cidr = "10.240.1.0/24"
eks_subnet_cidr2 = "10.240.2.0/24"

desired_node_count = 1
node_instance_type = "t3.medium"

service_ipv4_cidr = "10.100.0.0/16"

# security_group_ids = []

tags = {
  project = "terraform-eks-demo"
  owner   = "fabian.clavijo"
  env     = "demo"
}
