cluster_name = "eks-demo"
name_prefix  = "tfeks"
region       = "us-east-1"
availability_zones = ["1", "2"]

vpc_cidr        = "10.240.0.0/16"
eks_subnet_cidr = "10.240.1.0/24"

node_count    = 1
instance_type = "t3.medium"

service_cidr       = "10.2.0.0/16"
dns_service_ip     = "10.2.0.10"
docker_bridge_cidr = "172.17.0.1/16"

oidc_issuer_enabled       = true
workload_identity_enabled = true

tags = {
  project = "terraform-aks-demo"
  owner   = "fabian.clavijo"
  env     = "demo"
}